* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: #1d1d1f;
  font-size: 13px;
}

:root {
  --clr-5: #000;
  --clr-4: #0D0D0D;
  --clr-3: #262626;
  --clr-2: #F20D5E;
  --clr-1: #adadad;

  /* font size */
}

body {
  background-color: #fbfbfd;
}


.mycontainer {
  max-width: 960px;
  padding: 20px;
  margin: 0 auto;
}

/* nav area */

nav {
  background-color: #1d1d1f;
  padding: 10px 0;
} 

.main-logo {
  width: 3rem;
  margin-right: auto;
}

.nav-title {
  color: #fff;
  font-size: 1.2rem;
}

.nav-group {
  display: flex;
  align-items: center;
}

.navbar {
 padding: 5px 0;
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 8px;
 margin-right: auto;
}

/* custom */


.list-group {
  display: flex;
  place-items: center;
  margin: 0;
}

.list-item {
  list-style-type: none;
  margin: 0 15px;
}

.link-item {
  color: #fff;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
  margin:0 8px;
}

.link-item:hover {
  color: #fff;
  border-bottom: 1px solid #F20D5E;
}

@media screen and (max-width: 760px) {
  .link-group {
    display: none;
  }

  .main-logo {
    text-align: center;
  }
}

/* nav */

/* header area */

header {
  text-align: center;
  padding: 60px 0;
}

.header-image {
  width: 300px;
  height: auto;
  margin-bottom: 30px;
}

.header-text-intro {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.header-text-content {
  font-size: 1.2em;
  font-weight: 300;
  color: #7a7a7a;
}

.header-link {
  background-color: #1d1d1f;
  color: #fff;
  padding: 12px 18px;
  margin-top: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 5px;
}

.header-link:hover {
  border: none;
  background-color: var(--clr-2);
  color: #fff;
}

/* desktop */

@media screen and (min-width: 600px ) {
  .header-text {
    width: 600px;
    margin: 0 auto;
  }
}


/* section - aboutus */
.about {
  background-color:#f2f2f2;
  padding: 80px 0;
}

.about-group {
  display: grid;
}

.about-title {
  color: #F20D5E;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 700;
}
.about-text {
  color: var(--clr-1);
  text-align: justify;
  /* font-weight: 200; */
  line-height: 1.5;
}

.about-link {
  background-color: #1d1d1f;
  color: #fff;
  padding: 12px 18px;
  margin-top: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 5px;
}

.about-link:hover {
  background-color: var(--clr-2);
  color: #fff;
}
/* experience */
.about-counter-group {
  margin-top: 30px;
  padding: 10px 0;
  display: grid;
  gap: 10px;
}

.exp-item {
  background-color:#fff;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  padding: 15px 0;
  border-radius: 5px;
}

.exp-item-text {
  color: #1d1d1f;
  text-align: center;
}

.exp-item-title {
  color: var(--clr-2);
  text-align: center;
  font-size: 3em;
}

/* about desktop */
@media screen and (min-width: 600px ) {
  .about-group {
      display: grid;
      grid-template-columns:  2fr 1fr;
      gap: 30px;
  }

  .exp-group {
      display: grid;
      margin-top: 0;
  }
}



/* section - services */

.services {
  padding: 80px 0;
}

.service-title {
  color: #F20D5E;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}

.service-group{
  display: grid;
  gap: 20px;
}

.service-item {
  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  padding: 30px;
  border-radius: 5px;
}


.service-item-image {
  width: 25px;
  margin-bottom: 15px;
}

.service-item-title {
  color: #1d1d1f;
  text-transform: uppercase;
}

.service-item-text {
  color: #4f4f4f;
  margin-top: 15px;
}


@media screen and (min-width: 600px ) {
  .service-group{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-auto-rows: minmax(280px, auto);
      gap: 20px;
      justify-items: center;
      align-items: center;
  }
}

/* project mobile */

.project {
  background-color: #fff;
  padding: 80px 0;
}

.section-title {
  color: #F20D5E;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 40px;
}

.project-item {
  margin-bottom: 40px;
}

.project-image-group {
  background-color: #ffffff;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, 
  rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  padding: 20px;
  border-radius: 5px;
}

.project-image {
  width: 100%;
}

.project-title {
  color: #4f4f4f;
  margin-top: 20px;
}
.project-title :hover {
  color:#fff;
} 

.project-url {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: var(--clr-2);
}

.project-url:hover {
  color: red;
}



.project-image { transition: all .2s ease-in-out; border-radius: 5px;}
.project-image:hover { transform: scale(1.1); }

/* project desktop */

@media screen and (min-width: 600px ) {
  .project-group{
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      align-items: center;
      gap: 20px;
      justify-items: center;
      align-items: center;
  }
}

/* desktop */
@media screen and (min-width: 700px ) {
.pp-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  }
}
/* mobile */


/* testimonial  */
.testimonial {
  padding: 80px 0;
  background: #f2f2f2;
}

.testimonial-title {
  margin-bottom: 40px;
  text-transform: uppercase;
  color: #F20D5E;
  font-weight: 700;
}

.stars {
  margin-bottom: 10px;
  color: var(--clr-1);
}

.testimonial-item {
  background-color: #fff;
  padding: 40px;
  border-radius: 5px;
}

.testimonial-item-title {
  font-size: 1.2rem;
  color: var(--clr-2);
  margin-bottom: 10px;
}

.testimonial-item-text {
  font-size: 1.2rem;
  color: #4f4f4f;
  margin-bottom: 10px;
}


/* form  */
.contact-form {
  background-color: #f2f2f2;
  padding: 80px 0;
}

.form-title {
  color: #1d1d1f;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 40px;
}


:is(.full-name, .email-ad, textarea) {
  width: 100%;
  padding: 12px 20px;
  display: block;
  margin: 16px 0;
  background-color: #fbfbfd;
  color: #4f4f4f;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.1) 0px 8px 16px -8px;
}

.form-submit {
  background-color: var(--clr-2);
  border: none;
  color: white;
  padding: 1em 2em;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.form-submit:hover {
  background-color: #fff;
  color: #ca094c;
}


@media screen and (min-width: 600px) {
  form {
      max-width: 600px;
      margin: 0 auto;
  }
}

/* #form-feedback {
  text-align: center;
  display: block;
  margin: 0 auto;
} */



.success-message {
  background-color: #00994d;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 6px;
  padding: 10px 16px;
  color: #fff;
  width:max-content;
  text-align: center;
}

.error-message {
  background-color: crimson;
  padding: 10px;
  color: #fff;
  width:max-content;
}

/* form end */

/* footer */
footer {
  background-color: var(--clr-5);
  padding: 40px 0;
}

.footer-item > p {
  color: var(--clr-1);
  font-size: 0.8rem;
  text-align: center;
}

.social {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
}

.gihub-logo, .twitter-logo, .instagram-logo {
  display: block;
  width: 5px;

}



.footer-group {
  display: grid;
  gap: 20px;
  justify-items: center;

  align-items: center;
}

@media screen and (min-width: 600px) {
  .footer-group {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;
      justify-items: center;
      align-items: center;
  }
}

.checked {
  color: #cabd8c;
}