* {
  box-sizing: border-box;
}

:root {
  --clr-5: #000;
  --clr-4: #0D0D0D;
  --clr-3: #262626;
  --clr-2: #F20D5E;
  --clr-1: #adadad;

  /* font size */
}

body {
  font-size: 100%;
  background-color: #fbfbfd;
  min-height: 100%;
  font-family: 'Inter', sans-serif;
}

@media screen and (min-width: 600px ) {
  .project-group{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: center;
      align-items: center;
      gap: 20px;
      justify-items: center;
      align-items: center;
  }
}

.coming-soon {
  padding: 0;
}

.coming-soon img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

